{
    "presets": ["env",{
        "targets":{
            "chrome":52
        },
        "modules": 'commonjs',
        "useBuiltIns": false,
        "debug": true
      }],
      "plugins": [],
      "ignore": []
}