{
    "presets": [["env",{
        "targets": {
             "browsers": ["last 2 versions", "safari >= 7"]
        },
        "loose":false,
        "modules":"commonjs", 
        "debug":false,
        "include":[],
        "exclude":[]
    }]],
    "plugins": ["transform-decorators-legacy","transform-class-properties","transform-object-rest-spread"],
    "ignore": [
    "dist/**/*.js",
    "packages/**/*.js",
    "node_modules/**/*.js"
  ]
}