{
    "presets": ["env",{
        "targets":{
            "ie":9
        },
        "modules": 'commonjs',
        "useBuiltIns": false,
        "debug": true
      }],
      "plugins": ["@babel/plugin-syntax-jsx"],
      "ignore": []
}